:root {
  // accent colors
  --vp-c-accent: rgb(157 23 77);
  --vp-c-accent-bg: rgb(157 23 77);
  --vp-c-accent-hover: rgb(190 24 93);
  --vp-c-accent-text: var(--vp-c-white);
  --vp-c-accent-soft: rgb(157 23 77 / 14%);
  --vp-c-gutter: var(--vp-c-text);
}

[data-theme='dark'] {
  // brand colors
  --vp-c-accent: rgb(157 23 77);
  --vp-c-accent-bg: rgb(157 23 77);
  --vp-c-accent-hover: rgb(190 24 93);
  --vp-c-accent-soft: rgb(157 23 77 / 14%);
}
